.index-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
    z-index: 99;
    box-sizing: border-box;
    background-color: transparent;
}

.adaptive-container {
    width: 1226px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.logo {
    /* display: inline-block;
    float: left; */
    display: flex;
    margin-top: 12.5px;
    width: 40px;
    height: 40px;
}

.logo a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    background: url(https://s02.mifile.cn/assets/static/image/logo-mi2.png) no-repeat;
    background-size: 40px 40px;
    font-size: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: #fff;
    left: 104px;
    transform: translateX(0);
    width: 941px;
    overflow: hidden;
    justify-content: flex-start;
    position: absolute;
}

.menu-item {
    margin: 0 25px;
}

.menu-item .hover {
    font-size: 14px;
    position: relative;
    height: 65px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
}

.menu-item .hover:hover {
    color: #ff6900;
}

.login-info {
    display: flex;
    align-items: center;
}

.login-info .hover {
    font-size: 14px;
    position: relative;
    height: 65px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
    color: #fff;

}

.login-info span {
    margin: 0 25px;
    color: #FFF;
}

.login-info .hover:hover {
    color: #ff6900;
}

.swiper-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: #fff;
    width: 100%;
    max-width: 2560px;
}

@media screen and (max-width:1226px) {
    .swiper-container {
        width: 1226px;
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.play-button {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    width: 117px;
    height: 117px;
    transform: translate(-50%, -50%);
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/visual/zwyplay1.png) no-repeat;
    background-size: 100% 100%;
}

.play-button:hover {
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/visual/zwyplay2.png) no-repeat;
    background-size: 100% 100%;
}

.swiper-container li {
    width: 100%;
    position: relative;
    /* flex: inherit; */
    flex-grow: 0;
    flex-shrink: 0;
    /* float: left; */
    max-width: 2560px;
}

.swiper-container ul {
    display: flex;
    /* width: 7680px; */
    transform: translate(0px);
}

.swiper-container li img {
    width: 100%;
    height: 100%;
}

.ultrans {
    transition: transform .3s ease-in-out;
}

.smallbtn {
    width: 127px;
    height: 3px;
    transition: .1s;
    background: #b2b2b2;
}

.check {
    background: #ff6900;
    opacity: 1;
}

.warp-btn {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.swiper-rotationChart {
    position: relative;
}

@media screen and (max-width:1226px) {}

.rotationChart-one-ul::before,
.rotationChart-one-ul::after {
    content: "";
    display: table;
}

.rotationChart-one-ul::after {
    clear: both;

}

.swiper-button {
    position: absolute;
    width: 35px;
    height: 35px;
    border-top: 10px solid rgb(101, 101, 101);
    border-left: 10px solid rgb(101, 101, 101);

    cursor: pointer;
}

.swiper-button:hover {
    border-top: 10px solid #ff6900;
    border-left: 10px solid #ff6900;
}

.swiper-button-left {
    left: 30px;
    bottom: 50%;
    transform: rotate(-45deg);
}

.swiper-button-right {
    right: 30px;
    bottom: 50%;
    transform: rotate(135deg);
}

/* .swiper-button::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
} */

.site-footer .content{
    width: 1226px;
    margin:0 auto;
}


.footer-links{
    display: flex;
    padding: 40px 0;

}
.footer-links dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer-links dd{
    margin: 10px 0 0;
    font-size: 12px;
}
.footer-links a{
    color: #757575;
}
.footer-links a:hover{
    color: #ff6700;
}
.col-contact{
    width: 251px;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
    font-size: 0;
}
.col-contact .phone{
    font-size: 22px;
    line-height: 1;
    color: #ff6900;
}
.col-contact p{
    margin: 0 0 5px;
    font-size: 12px
}
.home-page-footer .btn-small {
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    cursor: pointer;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
}
.home-page-footer .btn-small:hover{
    color: #fff;
    background-color: #ff6700;
}
.col-links{
    width: 160px;
}
.site-info{
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.site-info .container{
    position: relative;
    width: 1226px;
    margin: 0 auto;
}
.home-page-footer .site-info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    height: 19px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0;
}
.home-page-footer .site-info .logo {
    width: 56px;
    height: 56px;
    margin-right: 20px;
    background: url(https://s02.mifile.cn/assets/static/image/logo-mi2.png) no-repeat;
    background-size: 56px;
    position: absolute;
    top: 0;
    left: 0;
}
.home-page-footer .site-info .info-text {
    color: #b0b0b0;
    padding-left: 77px;
}
.home-page-footer .site-info .info-links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 77px;
}
.home-page-footer .site-info .info-text p {
    margin: 0;
    line-height: 18px;
}
.home-page-footer .site-info .info-text .sites a {
    color: #757575;
}
.home-page-footer .site-info .info-text .sites .sep {
    margin: 0;
}
.home-page-footer .site-info .info-text a {
    color: #b0b0b0;
}
.home-page-footer .site-info .info-links a {
    display: inline-block;
}
.home-page-footer .site-info .info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
}
.home-page-footer .site-info .info-links .safe-auth {
    width: 150px;
    height: 28px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

.home-page-footer .ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.site-info .container .info-text a:hover{
    color: #ff6700;
}








.swiper-top {
    position: fixed;
    width: 150px;
    height: 174px;
    background-image: url(../images背景图片之类/QQ图片20220808163029.png);
    overflow: hidden;
    display: block;
    z-index: 100;
    cursor: pointer;
    left: calc(50% + 530px);
    bottom: 60px;
    transform: translateY(0px);

}

.swiper-top:hover {
    background-image: url(../images背景图片之类/QQ图片20220808162645.png);
    animation: rockMove steps(4) .4s infinite;
}

@keyframes rockMove {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -600px;
    }
}

html {
    scroll-behavior: smooth;
}

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3725490196);
    z-index: 99;
}

.dialog-outer-video {
    height: min-content;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: min-content;
}

.dialog-outer-video .close-button[data-v-13bc80bf] {
    position: absolute;
    cursor: pointer;
    right: 1px;
    top: -30px;
    width: 20px;
    height: 20px;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/visual/zwyclosebutton.png);
    background-size: 100% 100%;
}

.dialog-outer-video .dialog-main[data-v-13bc80bf] {
    box-shadow: 0 0 999px 999px rgb(0 0 0 / 37%);
    background: none;
}

.mi-video-player[data-v-886cbd70] {
    width: 819px;
    height: 100%;
    font-size: 0;
}

.mi-video-player video[data-v-886cbd70] {
    width: 100%;
    vertical-align: bottom;
    background-color: #000;
}